%h1{:align => "center"}= "Your Teams for " +  @course.course_name

%table.table-bordered{:width => "90%", :align => "center"}
  %thead
    %tr
      %th{:align => "center"} Team Name
      %th{:align => "center"} Instructor
      %th{:align => "center"} Team Members

  %tbody
    - @teams_params.each do |team|
      %tr
        %td= team[0]
        %td= team[1]
        %td= team[2].join(", ")

%br

