%h1{:align => "center"}= "Your Teams for " +  @course.course_name

%table.table-bordered{:width => "90%", :align => "center"}
  %thead
    %tr
      %th{:align => "center"} Team Name
      %th{:align => "center"} Team Members

  %tbody
    - @teams.each do |team|
      %tr
        %td= team.name
        %td= team.users.map(&:name).join(",")

%br

