%h1{:align => "center"} Add New Team

%container{:align => "center", :width => "40%"}
  = render 'form', :team => @team
%hr
%h1{align: :center} Add New Teams using CSV

%br
.container
  .panel.panel-info
    .panel-heading
      %h4.strong Upload Files
      %p Instructions: Please upload your CSV files according to the format below:
      %br
      %p team_name, group_number, student_1, student_2, ...
      %p Dogs Who Code, 123, 10000010, 10000005
      %p Cats Who Code, , 10000023, 10000000

    .panel-body
      / Standar Form
      %h4 Select files from your computer
      =form_tag import_course_teams_path, :multipart => true do
        .form-inline
          .form-group
            =file_field_tag :file
          =submit_tag "Upload File", :class => "btn.btn-primary"
%div{align: :center}
  = link_to 'Back', course_teams_path