%h1{:align => "center"} Add New Team

%container{:align => "center", :width => "90%"}
  = render 'form', :team => @team
  %br

-#.container
  %h3 Import Team Data
  = form_tag import_teams_path, multipart: true do 
    =file_field_tag :file
    =submit_tag "Upload Data"
  %br

%div{:align => "center"}
  = link_to 'Back', course_teams_path, :style => "width: 40%; margin: 0 auto; text-align: center"
