%h1 Add New Team

%container{:align => "center", :width => "90%"}
  = render 'form', :team => @team
  %br

-#.container
  %h3 Import Team Data
  = form_tag import_teams_path, multipart: true do 
    =file_field_tag :file
    =submit_tag "Upload Data"
  %br

-#= link_to 'Back', teams_path
