%h1{align: :center}= "Add New Student or Instructor"

%br

%div{align: :center}
  = render 'form'
%br
-#.container
  %h4 Import User Data
  = form_tag import_users_path, multipart: true do 
    =file_field_tag :file
    =submit_tag "Upload Data"
%br


%div{align: :center}
  = link_to 'Back', users_path
