%h1{:align => "center"}= "Feedback for " + @receiver.first_name + " " + @receiver.last_name

%container{:html => {:style => "align: center; width: 90%;"}}
  %br
  = render 'form'
  %div{:align => "center"}
    = link_to 'Back', course_team_assignment_feedbacks_path, :style => "width: 40%; margin: 0 auto; text-align: center"
