%container{:align => "center", :width => "70%"}

  = render 'form'
  %div{:align => "center"}
    = link_to 'Back', course_team_assignment_feedback_path(:team_id => params[:team_id], :course_id => params[:course_id], :assignment_id => params[:assignment_id]), :style => "width: 40%; margin: 0 auto; text-align: center"
