%h1 Listing feedbacks

%table
  %thead
    %tr
      %th Comments
      %th Ratings
      %th
      %th

  %tbody
    - @feedbacks.each do |feedback|
      %tr
        %td= feedback.comments
        %td= feedback.rating
        %td= link_to 'Show', course_team_assignment_feedback_path(:id => feedback.id, :team_id => params[:team_id], :course_id => params[:course_id], :assignment_id => params[:assignment_id])
        %td= link_to 'Edit', edit_course_team_assignment_feedback_path(:id => feedback.id, :team_id => params[:team_id], :course_id => params[:course_id], :assignment_id => params[:assignment_id])

%br

