%h1 New feedback

= simple_form_for(@feedback, url: new_course_team_assignment_feedback_path(params[:course_id], params[:team_id], params[:assignment_id])) do |f|
  .form-inputs
    = f.input :comments, required: false, autofocus: true
    = f.input :rating, required: false
  .form-actions
    = f.button :submit, "Submit"


