%h1{:align => "center"} Edit Course

%container{:align => "center"}

  = render 'form'
  %div{:align => "center"}
    = link_to 'Back', courses_path, :style => "width: 40%; margin: 0 auto; text-align: center"
