%h1{:align => "center"} Your Courses

%table.responsive{:width => "100%"}
  %thead
    %tr
      %th Course Name
      %th Instructor
      %th Members

  %tbody
    - @courses.each do |course|
      %tr
        %td= course.course_name
        %td= "TODO"

        %td
          - @course.users.each do |user|
            user.name

%br

= link_to 'New Course', new_course_path
