%h1{:align => "center"} Your Courses

%table.table-bordered{:width => "90%", :align => "center"}
  %thead
    %tr
      %th{:align => "center"} Course Name
      %th{:align => "center"} Instructor
      %th{:align => "center"} Members

  %tbody
    - @courses.each do |course|
      %tr
        %td= link_to course.course_name, course_path(:id => course.id)
        %td= "TODO"
        %td= course.users.map(&:name).join(",")

%br

