%h1{:align => "center"} New course

%container{:align => "center", :width => "90%"}
  = render 'form'
  %br
  %div{:align => "center"}
    = link_to 'Back', courses_path, :style => "width: 40%; margin: 0 auto; text-align: center"
