// Place all the styles related to the assignments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.flash-message {
  &.danger {
    border: solid 4px #900;
          background-color: #FF6565;
        }
  &.notice {
    border: solid 4px #26722D;
          background-color: #A4E7A0;
        }
  color: black;
  z-index: 999;
  position: fixed;
  font-weight: bold;
  width: 96%;
  margin: 20px;
        p {
                font-size: 110%;
                margin: 15px 0;
        }
}
